<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= video_tag @post.video, controls: true %>

    <h1 class="text-2xl font-bold"> <%= @post.title %> </h1>

    <p class="my-2">
      posted by <%= @post.user.email %>
    </p>

    <p class="my-2">
      views <%= @post.views_count %>
    </p>

    <div class="flex items-center gap-4 my-2">
      <%= render "like_button", user: current_user, post: @post %>
    </div>

    <% if current_user == @post.user %>
      <%= link_to "Edit this post", edit_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this post", post_path(@post), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>
    <%= link_to "Back to posts", posts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
